<% layout("boilerplate/boilerplate.ejs") %>

<!----------------------------------------------------->

<div class="errors">
  <!------------------------>
  <% if(errors.fullname) { %>
  <p><strong>Fullname Error : </strong><%= errors.fullname %></p>
  <% } %>

  <!------------------------>
  <% if(errors.email) { %>
  <p><strong>Email Error : </strong><%= errors.email %></p>
  <% } %>

  <!------------------------>
  <% if(errors.password) { %>
  <p><strong>Password Error : </strong><%= errors.password %></p>
  <% } %>
</div>
