h1 {
    text-align: center;
}

.user_info_div {
    background-color: steelblue;
    margin: 1rem 0;
    padding: 0.5rem;
}

.user_info_div h2 {
    color: #fff;
}

.new_user_btn {
    display: block;
    margin: 3rem 0;
    font-size: 2rem;
    color: #000;
}