<% layout("boilerplate/boilerplate.ejs") %>

<!--------------------------------------------------------->
<header>
  <div>
    <h2>To Infinity & Beyond!</h2>
    <h3>By Toys For Toys</h3>
    <a href="/toys" class="btn">View Toys</a>
  </div>
</header>
