<% layout("boilerplate/boilerplate.ejs") %>

<!--------------------------------------------------------->
<div class="toys">
  <div class="toy">
    <img src="/images/buzz.jpg" />
    <h4>Buzz Light Year</h4>
  </div>
  <div class="toy">
    <img src="/images/jessie.jpg" />
    <h4>Jessie</h4>
  </div>
  <div class="toy">
    <img src="/images/woody.jpg" />
    <h4>Woody</h4>
  </div>
  <div class="toy">
    <img src="/images/potato.jpg" />
    <h4>Potato Heads</h4>
  </div>
  <div class="toy">
    <img src="/images/rex.jpg" />
    <h4>Rex</h4>
  </div>
  <div class="toy">
    <img src="/images/slinky.jpg" />
    <h4>Slinky</h4>
  </div>
</div>
