<% layout("layouts/boilerplate.ejs") %>

<!------------------------------------------------------------------->
<h1>Edit your user</h1>

<form
  action="/users/<%= required_user._id %>?_method=PATCH"
  method="post"
  class="new_form"
>
  <div class="single_user_field">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      value="<%= required_user.name %>"
      autocomplete="off"
      required
    />
  </div>
  <div class="single_user_field">
    <label for="age">Age</label>
    <input
      type="number"
      id="age"
      name="age"
      value="<%= required_user.age %>"
      autocomplete="off"
      required
    />
  </div>
  <div class="single_user_field">
    <label for="gender">Gender</label>
    <input
      type="text"
      id="gender"
      name="gender"
      value="<%= required_user.gender %>"
      autocomplete="off"
      required
    />
  </div>
  <button type="submit">Update user</button>
</form>

<!------------------------------------------------------------------->
<a href="/users" class="back_btn">Back to users</a>
