<nav>
  <h1>Blogging-Application</h1>

  <!----------------->

  <% if(currentUser) { %>
  <h1>Hello, <%= currentUser.fullname %></h1>
  <%} %>

  <!----------------->
  <a href="/">Home</a>

  <!----------------->

  <% if(currentUser) { %>
  <a href="/newblog">Create Blog</a>
  <a href="/logout">log out</a>
  <% } %>

  <!----------------->

  <% if(!currentUser) { %>
  <a href="/signup">sign up</a>
  <a href="/login">log in</a>
  <% } %>
</nav>
