<% layout("boilerplate/boilerplate.ejs") %>

<!----------------------------------------------------->

<form action="/login" method="post" class="signup_login_form">
  <!--------------- email inputs --------------->
  <div class="field">
    <label for="email">Email</label>
    <input
      type="text"
      id="email"
      name="email"
      autofocus
      autocomplete="off"
      required
    />
  </div>

  <!--------------- password inputs --------------->
  <div class="field">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      autocomplete="off"
      required
    />
  </div>

  <!--------------- submit button --------------->
  <button type="submit" class="button">Log In</button>
</form>
