*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/*************************** navbar ***************************/
nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: grey;
    padding: 1rem;
}

nav a {
    color: #fff;
    font-size: 1.5rem;
}

/************************ signup/login form ************************/
.signup_login_form {
    max-width: 600px;
    margin: 2rem auto;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.field label {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.field input {
    font-size: 1.5rem;
    padding: 1rem;
}

.button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #000;
    background-color: grey;
    border: none;
    font-weight: bold;
}


/************************* new/edit form ************************/
.new_edit_form {
    max-width: 1000px;
    margin: 2rem auto;
}


/************************ Mongoose Errors ************************/
.errors {
    box-shadow: 0 0 2px 2px #000;
    padding: 1rem;
    margin: 4rem auto;
    max-width: 1000px;
}

.errors p {
    margin: 1rem;
    font-size: 1.5rem;
}

/************************ Home Page ************************/
.home_page_div {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.particular_blog_div {
    box-shadow: 0 0 2px 2px #000;
    height: 350px;
    margin: 1rem;
    position: relative;
}

.particular_blog_div img {
    height: 250px;
    width: 350px;
}

.particular_blog_div p {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.particular_blog_div a {
    position: absolute;
    font-size: 1.25rem;
    left: 0.5rem;
    bottom: 1rem;
}